.Map { position:absolute; top:0px; left:0px; padding:0; margin:0 }

.KeyboardInput { position:absolute; top:0px; left:0px; width:1px; height:1px; padding:0px; margin:0px; z-index:0 }

.Copyright { position:absolute;width:230px;height:28px;display:none;font-family:Verdana,sans-serif;font-size:6pt;text-align:right;cursor:pointer; }
.CopyrightBackground { z-index:30;color:Black; }
.CopyrightForeground { z-index:31;color:White; }

.ZoomBar{ position:relative;background:url(http://local.live.com/i/zoom/bar.gif); width:103px; height:20px; margin:2px; overflow:hidden; }
.ZoomBar_minus { position:absolute; left:0px; top:0px; margin:0px; padding:0px; width:21px; height:20px; cursor:pointer; display:inline; }
.ZoomBar_plus { position:absolute; left:82px; top:0px; margin:0px; padding:0px; width:21px; height:20px; cursor:pointer; display:inline; }
.ZoomBar_bar { position:absolute; left:21px; top:0px; margin:0px; padding:0px; width:61px; height:20px; cursor:pointer; display:inline; }
.ZoomBar_slider { position:absolute; background:url(http://local.live.com/i/zoom/slider.gif); width:7px; height:20px; overflow:hidden; display:block; }

.Pushpin { width:23px;height:17px;font-family:Arial,sans-serif;font-weight:bold;font-size:8pt;color:White;overflow:hidden;cursor:pointer;text-decoration:none;text-align:center;padding-top:1px; }
.Pushpin_default { background:#000000;border:1px solid #000000;z-index:11 }
.Pushpin_blue { background:url(http://local.live.com/i/pins/blue.gif);z-index:19 }
.Pushpin_purple { background:url(http://local.live.com/i/pins/purple.gif);z-index:11 }
.Pushpin_red { background:url(http://local.live.com/i/pins/red.gif);z-index:11 }
.Pushpin_green { background:url(http://local.live.com/i/pins/green.gif);z-index:11 }
.Pushpin_orange { background:url(http://local.live.com/i/pins/youarehere.gif);width:19px;height:19px;z-index:11;padding-top:2; }
.Pushpin_black { background:#303030;border:1px solid #000000;z-index:11 }
.VE_Pushpin_context{width:7px;height:7px;background:url(http://local.live.com/i/pins/red_circ7px.gif);z-index:5}
.VE_Pushpin_anno{width:19px;height:19px;background:url(http://local.live.com/i/pins/blue_circ19px.gif);z-index:5}

.Compass{ width:54px; height:54px; background:url(http://local.live.com/i/compass.gif); margin:0px; cursor:pointer }

.ScaleBarLabel { position:absolute; height:12px;font-family:Verdana;font-size:8pt;display:none;cursor:pointer; }
.ScaleBarLabelBackground { z-index:30;color:Black; }
.ScaleBarLabelForeground { z-index:31;color:White; }
.ScaleBar { position:absolute;width:150px;height:5px;overflow:hidden;cursor:pointer; }
.ScaleBarBackground { z-index:30;background-color:Black; }
.ScaleBarForeground { z-index:31;background-color:White; }

.ZoomBox_fg { position:absolute; display:none; border:2px dashed white; z-index:100; overflow:hidden }
.ZoomBox_bg { position:absolute; display:none; border:2px dashed black; z-index:100; overflow:hidden }

.Dashboard { position:absolute; border:1px solid #cbcbcb; background-color:white; filter:alpha(opacity:90); opacity:0.9; z-index:100; padding:2px; overflow:visible; font-family:Verdana,sans-serif; font-size:7.5pt; }
.Dashboard_small { width:110px; }
.Dashboard_normal { width:180px; }
.Dashboard_tab { padding-left:7px; padding-right:7px; display:inline; cursor:pointer }
.Dashboard_selected { color:black; font-weight:bold }
.Dashboard_unselected { color:gray; }
.Dashboard_unselected:hover { color:black; }
.Dashboard_disabled { display:none }
.Dashboard_separator { height:1px; color:#cbcbcb; margin:0px; padding:0px; border:0px;width:100% }
.Dashboard_toggler { font-family:Verdana, Sans-Serif; font-size:10pt; cursor:pointer;  }
.Dashboard_notification { font-family:Verdana; font-size:8pt; height:60px; margin:2px; padding:4px; border:1px solid #cbcbcb; background-color:rgb(255, 255, 205); color:rgb(103, 101, 104); cursor:pointer }
.Dashboard_cell { }
.Dashboard_thumbnail { width:50px; height:50px; margin:0px; padding:1px; border:0px; background-color:#e0e0e0; }
.Dashboard_rotation { font-family:Verdana,sans-serif; font-size:7.5pt; text-align:center }

#obliqueNotifyIcon
{
	background-image:url(http://local.live.com/i/eagle_eye_icon.gif);
	padding: 0 2px 0 0;
	float:left;
	width:42px;
	height:54px;
}

.dashboardContainerTable
{
	margin:0px;
	padding:0px;
}

.Line { position:absolute; border:0px; }

.PoweredByLogo { position:absolute; display:none; cursor:pointer; z-index:30; }
.PoweredByLogo_ie { width:161px; height:34px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/logo_powered_by.png', sizingMethod='scale'); }

@media print
{
	.Dashboard { display:none; }
}

#obliqueZoomContainer
{
	display:none;
	position:relative;
	border:1px solid #cbcbcb;
	width:97px;
	height:65px;
	padding:3px;
}
#obliqueZoomSmall
{	
	position:absolute;
	top:18px;
	left:7px;
	width:26px;
	height:32px;
	cursor:hand;
	padding:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}


.obliqueZoomSmallOn
{	
	background-image:url(http://local.live.com/i/oblique/be_small_selected.gif);
}

.obliqueZoomSmallOff
{
	background-image:url(http://local.live.com/i/oblique/be_small.gif);
}

#obliqueZoomLarge
{
	position:absolute;
	top:4px;
	left:45px;
	width:42px;
	height:54px;
	cursor:hand;
	padding:0px;
	margin-left:0px;
	margin-right:0px;
}

.obliqueZoomLargeOn
{
	background-image:url(http://local.live.com/i/oblique/be_big_selected.gif);
}

.obliqueZoomLargeOff
{
	background-image:url(http://local.live.com/i/oblique/be_big.gif);
}

#obliqueCompassPointN
{
	position:absolute;
	top:-8px;
	left:17px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma;font-size:9pt;font-weight:bold;color:White;
}

#obliqueCompassPointE
{
	position:absolute;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma;font-size:9pt;font-weight:bold;color:White;
	top:17px;
	left:42px;
}

#obliqueCompassPointS
{
	position:absolute;
	left:17px;
	top:42px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma;font-size:9pt;font-weight:bold;color:White;
}

#obliqueCompassPointW
{
	position:absolute;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma;font-size:9pt;font-weight:900;color:White;
	top:17px;
	left:-8px;
}

.obliqueCompassPointOff
{
	background-image:url(http://local.live.com/i/oblique/circle_disabled.gif);
	width:17px;
	height:17px;
	cursor:hand;
}

.obliqueCompassPointOn
{
	background-image:url(http://local.live.com/i/oblique/circle_enabled.gif);
	width:17px;
	height:17px;
	cursor:hand;
}

.obliqueCompassPointHover
{
	background-image:url(http://local.live.com/i/oblique/circle_hover.gif);
	width:17px;
	height:17px;
	cursor:hand;
}

.obliqueCompassArrowU
{
	position:absolute;
	top:10px;
	left:10px;
	background-image:url(http://local.live.com/i/oblique/arrow_u.gif);
	width:30px;
	height:30px;
	
}

.obliqueCompassArrowR
{
	position:absolute;
	top:10px;
	left:10px;
	background-image:url(http://local.live.com/i/oblique/arrow_r.gif);
	width:30px;
	height:30px;
}

.obliqueCompassArrowD
{
	position:absolute;
	top:10px;
	left:10px;
	background-image:url(http://local.live.com/i/oblique/arrow_d.gif);
	width:30px;
	height:30px;
}

.obliqueCompassArrowL
{
	position:absolute;
	top:10px;
	left:10px;
	background-image:url(http://local.live.com/i/oblique/arrow_l.gif);
	width:30px;
	height:30px;
}

#obliqueCompassContainer
{
	position:relative;
	left:5px;
	top:10px;cursor:pointer;
	background-image:url(http://local.live.com/i/oblique/compass_bg.gif);
	background-repeat:no-repeat;
	width:60px;
	height:70px;		
}

.obliqueSelectorTable
{
	margin:0px; padding:0px; border:0px;
}

.obliqueSelectorCellOff
{
	border:solid 2px #ffffff;
	padding:0px;
	margin:0px; 
}

.obliqueSelectorCellOn
{
	border:solid 2px #9999cc;
	padding:0px;
	margin:0px; 
}

.obliqueSelectorCellCenter
{
	border:solid 1px #000000;
	padding:1px;
	margin:0px; 
}
